<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://drive.google.com/uc?authuser=0&id=1w-OStGxF1oCWETeVHDeBXtJV7-iWoR4t&export=download" type="text/css">
  <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/simple-sidebar.css" rel="stylesheet" type="text/css">
  <link href="css/modern-business.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>EDITAR CLIENTE</title>
</head>
<body>
<a class="btn btn-success" href="/clientes">MENU</a>
<div class="text-center">
  <h1 class="alert alert-info" role="info">EDITAR  {{cliente.nombre}}</h1>
  
</div>
<br><br>
<div class="container">
  <form action="/clientes/editar/{{cliente.id}}" method="post">
    <table>
        <thead>
          <tr>
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">NOMBRE</span>
                    </div>
                    <input value="{{cliente.nombre}}" type="text" name="nombre" id="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </td>
          </tr>
          <tr>
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">DIRECCION</span>
                    </div>
                    <input value="{{cliente.direccion}}" type="text" name="direccion" id="direccion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </td>
          </tr>
          <tr>
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-default">TELEFONO</span>
                    </div>
                    <input value="{{cliente.telefono}}" type="text" name="telefono" id="telefono" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </td>
          </tr>
        </thead>
      </table>
    <button class="btn btn-info" type="submit">Editar</button>
  </form>
</div>
</body>
</html>
